/*nedan är index.html koden*/
.index{
    display: grid;
    grid-template-areas: 
    'la conten ra'
    'f f f'
    ;
    grid-template-columns: 6fr 10fr 6fr;
 }
 
/* nedan är Programs.html-koden*/
.Programs{
    display: grid;
    grid-template-areas: 
    'In'
    's2'
    's3'
    's4'
    's5'
    'f'
    ;
}
.Programs section{
    display: grid;
    grid-template-areas:
    'title'
    'info'
    'programreccomendations'
    ;
}
.Programs section h3{
    grid-area: title;
}
.Programs section p{
    grid-area: info;
}
.Programs section aside{
    grid-area: programreccomendations;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.Programs section aside article{
    width: 33vw;
    height: 20vh;
    background-color: rgb(1, 149, 235);
    margin: 0px 2px;
}
#a21{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url();
}
#a22{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url();
}
#a23{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url();
}
#a31{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url();
}
#a32{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url();
}
#a34{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url();
}
#a41{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url();
}
#a42{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url();
}
#a43{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url();
}
#a51{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url();
}
#a52{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url();
}
#a53{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url();
}


/*nedan är influencer.html-koden*/
.influencers body {
    display: grid;
    grid-template-areas: 
    'In'
    's1'
    's2'
    's3'
    's4'
    'f'
    ;
}

.influencers section{
    display: grid;
    grid-template-areas: 
    'ar img'
    ;
    margin: 0px 5px 10px 5px;
}
.influencers section article {
    grid-area: ar;
}

.influencers section img{
    grid-area: img;
    padding: 0px 5px 0px 0px
}

/* nedan är supplements.html koden*/
.supplements{
    display: grid;
    grid-template-areas: 
    'la conten ra'
    'f f f'
    ;
    grid-template-columns: 6fr 10fr 6fr;
}
/*nedan är generell kod*/
body{
    margin: 0px;
    background-color: aqua;
}
::-webkit-scrollbar{
    width: 0px;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    height: 10vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(83, 183, 219);
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.leftcolumn{
    grid-area: la;
}

.middlecolumn{
    display: flex;
    grid-area: conten;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.s1{
    grid-area: s1;
}

.s2{
    grid-area: s2;
}

.s3{
    grid-area: s3;
}
.s4{
    grid-area: s4;
}
.s5{
    grid-area: s5;
}
.rightcolumn{
    grid-area: ra;
}
footer{
    grid-area: f;
}

.intro{
    grid-area: In;
    padding-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*nedan är funktionalitetskoden*/
@media screen and (min-width: 504px){
    .menu{
        height: 100vh;
        width: 30vw;
        background-color: lightblue;
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
        display: grid;
        grid-template-areas: 
        'navarticle1'
        'navarticle2'
        'navarticle3'
        'navarticle4'
        'return_home'
        ;
        grid-template-rows: 2fr 2fr 2fr 2fr 1fr;
    }
    .intro iframe{
        width: 46vw;
        height: 46vh;
    }
    .index iframe{
        width: 30vw;
        height: 30vh;
    }
}
@media screen and (max-width: 503px){
    .menu{
        height: 100vh;
        width: 80vw;
        background: lightblue;
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
        display: grid;
        grid-template-areas: 
        'navarticle1'
        'navarticle2'
        'navarticle3'
        'navarticle4'
        'return_home'
        ;
        grid-template-rows: 2fr 2fr 2fr 2fr 1fr;
    }
    iframe{
        width: 100vw;
        height: 45vh;
    }
    body{
        overflow-x: hidden;
    }
}
.navarticle1{
    grid-area: navarticle1;
}
.navarticle2{
    grid-area: navarticle2;
}
.navarticle3{
    grid-area: navarticle3;
}
.navarticle4{
    grid-area: navarticle4;
}
nav footer{
    grid-area: return_home;
}
.menu-button{
    cursor: pointer;
    position: fixed;
    left: 0;
}
nav a{
    background-color: blue;
    border-radius: 10px;
    margin: 5px;

}
.menu-button i.material-icons{
    font-size: 3rem;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.visible{
    display: block;
}