/*nedan är index.html koden*/
.index{
    display: grid;
    grid-template-areas: 
    'la conten ra'
    'f f f'
    ;
    grid-template-columns: 6fr 10fr 6fr;
}
/* nedan är drugs.html kod*/
.drugs{
    display: grid;
    grid-template-areas: 
    'In In'
    'gar1 gar2'
    'gar3 gar4'
    'f f'
    ;
    width: 100vw;
}
.drugs .notnav{
    margin: 3px;
    background-color: #757575;
    box-shadow: 5px 5px 3px 3px rgba(0,0,0,0.75);
    display: flex;
    text-align: center;
    flex-direction: column;
}
#gridar1{
    grid-area: gar1;
}
#gridar2{
    grid-area: gar2;
}
#gridar3{
    grid-area: gar3;
}
#gridar4{
    grid-area: gar4;
}
 
/* nedan är Programs.html-koden*/
.Programs{
    display: grid;
    grid-template-areas: 
    'In'
    's2'
    's3'
    's4'
    's5'
    'f'
    ;
}
.Programs section{
    display: grid;
    grid-template-areas:
    'title'
    'info'
    'programreccomendations'
    ;
}
.Programs section h3{
    grid-area: title;
}
.Programs section p{
    grid-area: info;
}
.Programs section aside{
    grid-area: programreccomendations;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.Programs section aside article{
    width: 33vw;
    height: 20vh;
    background-color: rgb(1, 149, 235);
    margin: 0px 2px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-size: cover;
    flex-wrap: wrap;
}

.Programs section aside article a{
    color: white;
    background-color: #f44336;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.Programs section aside article .info{
    background-color: rgba(0, 0, 0, 0.809);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/*nedan är influencer.html-koden*/
.influencers body {
    display: grid;
    grid-template-areas: 
    'In'
    's1'
    's2'
    's3'
    's4'
    'f'
    ;
}

.influencers section{
    display: grid;
    grid-template-areas: 
    'ar channel'
    ;
    margin: 0px 5px 10px 5px;
    grid-template-columns: 60% 40%;
}
.influencers section article {
    grid-area: ar;
}

.influencers section .channel{
    grid-area: channel;
    padding: 5px 5px 0px 0px;
    height: 40vh;
    width: 40vw;
}
/*nedan är supplements kod*/
.supplements{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.supplements article{
    display: flex;
    flex-direction: column;
}
/*nedan är generell kod*/
body{
    margin: 0px;
    background-color: rgba(255, 255, 255, 0);
}
::-webkit-scrollbar{
    width: 0px;
}
p{
    font-family:'Times New Roman', Times, serif;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    height: 10vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(83, 183, 219);
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.leftcolumn{
    grid-area: la;
}

.middlecolumn{
    display: flex;
    grid-area: conten;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.s1{
    grid-area: s1;
}

.s2{
    grid-area: s2;
}

.s3{
    grid-area: s3;
}
.s4{
    grid-area: s4;
}
.s5{
    grid-area: s5;
}
.rightcolumn{
    grid-area: ra;
}
.body{
    grid-area: f;
    display: grid;
    grid-template-areas:
    'header'
    'contact'
    ;
    grid-template-rows: 1fr 4fr;
    background-color: rgb(0, 0, 0);
    height: 20vh;
    margin: 10px 0px 0px 0px;
    color: white;
}
.body h2{
    display: flex;
    align-self: center;
    justify-self: center;
    grid-area: header;
}
.body div{
    grid-area: contact;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.intro{
    grid-area: In;
    padding-top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*nedan är device-koden*/
@media screen and (max-width: 503px){
    .menu{
        height: 100vh;
        width: 80vw;
        background: lightblue;
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
        display: grid;
        grid-template-areas: 
        'navarticle1'
        'navarticle2'
        'navarticle3'
        'navarticle4'
        'return_home'
        ;
        grid-template-rows: 2fr 2fr 2fr 2fr 1fr;
        font-size: 20px;
    }
    iframe{
        width: 100vw;
        height: 45vh;
    }
    body{
        overflow-x: hidden;
    }
    .Programs section aside article{
        width: 100vw;
        margin: 2px 0px;
    }
    .Programs section aside{
        flex-direction: column;
    }
    .menu-button i.material-icons{
        font-size: 3rem;
    }    
}
@media screen and (min-width: 504px){
    .menu{
        height: 100vh;
        width: 30vw;
        background-color: lightblue;
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
        display: grid;
        grid-template-areas: 
        'navarticle1'
        'navarticle2'
        'navarticle3'
        'navarticle4'
        'return_home'
        ;
        grid-template-rows: 2fr 2fr 2fr 2fr 1fr;
        font-size: 30px;
    }
    .intro iframe{
        width: 46vw;
        height: 46vh;
    }
    .index iframe{
        width: 30vw;
        height: 30vh;
    }
    .menu-button i.material-icons{
        font-size: 3rem;
    }    
}
/*nedan är funktionalitetskoden*/

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-decoration: none;
}

.nava1{
    grid-area: navarticle1;
}
.nava2{
    grid-area: navarticle2;
}
.nava3{
    grid-area: navarticle3;
    background-image: url("");
}
.nava4{
    grid-area: navarticle4;
}
nav footer{
    grid-area: return_home;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-button{
    cursor: pointer;
    position: fixed;
    left: 0;
}
nav a{
    background-color: blue;
    border-radius: 10px;
    margin: 5px;

}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.visible{
    display: block;
}

